body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

.navbar {
    width: 100%;
    background-color: #000;
    overflow: auto;
    display: flex;
    align-items: center;
    padding: 10px 20px;
}

.navbar img {
    height: 60px;
}

.container {
    width: 50%;
    margin: auto;
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
    border-radius: 8px;
}

.info-box {
    background-color: #ebcf34;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.info-box p {
    margin: 5px 0;
    font-size: 16px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group textarea,
.form-group input[type="file"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.form-group textarea {
    resize: vertical;
    height: 100px;
}

.submit-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px;
    background-color: #ff9900;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.submit-button img {
    height: 20px;
    margin-left: 10px;
    transition: content 0.3s;
}

.submit-button:hover {
    background-color: #e68a00;
}

.submit-button:hover img {
    content: url('coin-hover.jpg');
}

h2 {
    color: #ebcf34;
}

.star-rating {
    display: flex;
    justify-content: flex-start;
    font-size: 24px;
}

.star-rating input {
    display: none;
}

.star-rating label {
    color: #ccc;
    cursor: pointer;
    margin-right: 5px;
}

.star-rating label:hover,
.star-rating label:hover~label,
.star-rating input:checked~label {
    color: #ff9900;
}

.star-rating input:checked~label:hover,
.star-rating input:checked~label:hover~label {
    color: #ff9900;
}